<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--Vue js -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>-->
    <script src="assets/js/vue.js"></script>
    <!--End Vue js-->
    <!--Bootstrap-->
    <link rel="stylesheet" href="assets/plugin/bootstrap/css/bootstrap.css">
    <!--Jquery-->
    <script src="assets/js/jquery-3.5.1.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="crossorigin="anonymous"></script>-->
</head>
<body>
<div class="m-3">
    <div class="container-fluid">
        <div class="row" id="app">
            <div class="col-lg-6 bg-white vh-100">
                <template v-for="(item , index) in config.input">
                    <div class="row" :key="index">
                        <div class="form-group">
                            <!--for="item.display.label"-->
                            <label>{{item.display.label}}</label>
                            <input type="text"
                                   v-model="item.data.default"
                                   class="form-control" :class="item.style.input.classes"
                                   :style="item.style.input.inline"
                                   :id="item.display.id"
                                   @change="validate($event.target.value , index)"
                                   aria-describedby="emailHelp">
                            <small class="form-text text-danger">{{item.validation.result.message[0]}}</small>
                            <small contenteditable="true" v-on:input="contentEdit($event.target.innerHTML , index)" id="content-edit" class="form-text text-muted">We'll content editable with anyone
                                else.</small>
                        </div>
                    </div>
                    <br>
                    <pre class="">
                            {{item}}
                        </pre>
                </template>
            </div>
            <div class="col-lg-6 bg-light vh-100">
                One of three columns
            </div>
        </div>
    </div>
</div>

<script src="assets/plugin/bootstrap/js/bootstrap.js"></script>
<script>
    const _log = (data) => console.log(data);
    const Type = {type: "Text"}
    new Vue({
        el: "#app",
        data: {
            type: Type,
            config: {
                tab: [
                    {
                        id: 1,
                        label: "Basic",
                    },
                    {
                        id: 2,
                        label: "Social Link"
                    },
                    {
                        id: 3,
                        label: "Contact"
                    }
                ],
                input: [
                    {
                        id: 1,
                        tab: 1,
                        type: "Text",
                        display: {
                            label: "Business Name",
                            name: "businessName",
                            placeholder: "Your Business Name",
                            id: 'businessName'
                        },
                        html: {
                            type: "text",
                            notice: null
                        },
                        style: {
                            container: {
                                inline: {},
                                classes: {}
                            },
                            input: {
                                inline: {color: "red"},
                                classes: {active: true}
                            }
                        },
                        validation: {
                            required: true,
                            max: 255,
                            isEmail: false,
                            isUrl: true,
                            result: {
                                message: [],
                            }
                        },
                        data: {
                            default: 'vish Industry'
                        }
                    }
                ]
            }
        },
        methods: {
            validate: function (event, index) {
                const validateObj = this.config.input[0].validation;
                let message = [];

                _log('event input value = ' + event) // vish
                /*_log('newVal = ' + JSON.stringify(newVal)) // newVal = {"required":true,"max":255,"isEmail":false,"isUrl":false}
                _log('newVal = ' + newVal) // newVal = [object Object]*/
                console.log('work') //work
                _log('work = ' + validateObj) // work = [object Object]
                _log('work = ' + JSON.stringify(validateObj)) //work = {"required":true,"max":255,"isEmail":false,"isUrl":false}

                if (validateObj.required) {
                    if (event === '' || event === null) {
                        _log('required')
                        message.push("Required Field compulsory")
                    }
                }
                if (event.length >= validateObj.max) {
                    _log('max')
                }
                if (validateObj.isEmail) {
                    // _log("Email")
                    let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    _log('email ' + re.test(String(event)));
                    if (re.test(String(event)) === false)
                        message.push("Email invalid")
                }
                if (validateObj.isUrl) {
                    // _log("url");
                    let pattern = new RegExp('^(https?:\\/\\/)?' + // protocol
                        '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
                        '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
                        '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
                        '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
                        '(\\#[-a-z\\d_]*)?$', 'i'); // fragment locator
                    _log('url ' + pattern.test(event))
                    pattern.test(event);
                    if (pattern.test(event) === false)
                        message.push("Url invalid")
                }
                _log(message);
                validateObj.result.message = message;
            },

            contentEdit:function (value , index) {
                _log('value = ' + value);
                // _log(value.target.innerText);

            }

        }
    })
</script>
</body>
</html>